<div class="row">
	<h1 class="text-center text-primary">FORMULARIO</h1>
	<p class="text-center"><em>Completa nuestro formulario y te contactarmeos a la brevedad posible para resolver tus inquietudes.</em></p>
	<div class="col-md-offset-3 col-md-6 text-center text-primary">
		<form action="" method="POST" role="form">
			<legend></legend>
		
			<div class="form-group">
				<label for="">*NOMBRE Y APELLIDO</label>
				<input type="text" class="form-control" id="" placeholder="" required="required">
			</div>

			<div class="form-group">
				<label for="">*E-MAIL</label>
				<input type="text" class="form-control" id="" placeholder="" required="required">
			</div>

			<div class="form-group">
				<label for="">*TELÉFONO</label>
				<input type="text" class="form-control" id="" placeholder="" required="required">
			</div>

			<div class="form-group">
				<label for="">*CIUDAD DE RESIDENCIA</label>
				<input type="text" class="form-control" id="" placeholder="" required="required">
			</div>

			<div class="form-group">
				<label for="">PROGRAMAS EDUCATIVOS (SELECCIONE)</label>
				<select name="" id="input" class="form-control">
					<option value=""></option>
				</select>
			</div>

			<div class="form-group">
				<label for="">COMENTARIOS ADICIONALES</label>
				<textarea name="" id="input" class="form-control" rows="3"></textarea>
			</div>
			<div><p><em>(*)Campos obligatorios</em></p></div>
			<button type="submit" class=" btn-lg btn-success">Enviar</button>
		</form>
	</div>
</div>
<br>
<div class="row bg-primary">
	<h1 class="text-center">OFICINAS EN VENEZUELA</h1>
</div>
<div class="row bg-grey">
<br>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<h4><img class="img-responsive center-block" src="http://placehold.it/150x150" alt=""></h4>
			</div>
			<div class="col-md-8">
				<h4 class="text-left text-primary">CARACAS</h4>
				<p><em>Av. La Trinidad – El Hatillo CC. Plaza La Boyera, Local NA-3</em></p>
				<p><em>Municipio El Hatillo – Caracas</em></p>
				<p><em>Referencia: Al lado del “Rey David”</em></p>

			</div>
		</div>
		<div class="row text-left">
			<div class="col-md-4">
				<h5>TELÉFONOS:</h5>
				<small>
					<p>+58(212) 435.13.14</p>
					<p>+58(212) 625.73.55</p>
					<p>+58(424) 225.89.40</p>
				</small>
			</div>
			<div class="col-md-4">
				<h5>HORARIO:</h5>
				<small>
					<p>(Horario corrido)</p>
					<p><strong>Lunes - Jueves</strong></p>
					<p>9:00am - 6:00pm</p>
					<p><strong>Viernes</strong></p>
					<p>9:00am - 5:00pm</p>
					<p><strong>Sábados</strong></p>
					<p>Con previa cita</p>
				</small>
			</div>
			<div class="col-md-4">
				<h5>E-MAIL:</h5>
				<small>
					<p>info@prolearning.com.ve</p>
				</div>
			</div>
		</small>
	</div>
	<div class="col-md-6">
		<h4><img class="img-responsive center-block" src="http://placehold.it/400x300" alt=""></h4>
	</div>
</div>