<div class="row">
	<h1 class="text-center text-info">¿DÓNDE QUIERES ESTUDIAR?</h1>
	<div class="col-md-offset-2 col-md-4 text-justify">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="col-md-4 text-justify">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	
</div>
<div class="row">
	<h1 class="text-center text-info">ELIGE TU DESTINO</h1>
	<div class="col-md-offset-2 col-md-8">
		<div class="table">
			<table class="cellspacing-5">
				<colgroup>
			        <col class="col-md-2">
			        <col class="col-md-2">
			        <col class="col-md-2">
			        <col class="col-md-2">
	        	</colgroup>
				<tbody>
					<tr>

					  <td colspan="2" rowspan="2"><a ui-sref="destinosDetail({id: pais1})"><img class="img-responsive hightlight-green" src="frontend/img/destinos/usa.jpg"></a></td>

					  <td colspan="2"><a ui-sref="destinosDetail({id: pais2})"><img class="img-responsive" src="frontend/img/destinos/canada.jpg"></a></td>

					</tr>

					<tr>

					  <td><a ui-sref="destinosDetail({id: pais3})"><img class="img-responsive" src="frontend/img/destinos/francia.jpg"></a></td>

					  <td><a ui-sref="destinosDetail({id: pais4})"><img class="img-responsive" src="frontend/img/destinos/alemania.jpg"></a></td>

					</tr>

					<tr>

					  <td colspan="2"><a ui-sref="destinosDetail({id: pais5})"><img class="img-responsive" src="frontend/img/destinos/australia.jpg"></a></td>

					  <td colspan="2" rowspan="2"><a ui-sref="destinosDetail({id: pais6})"><img class="img-responsive" src="frontend/img/destinos/inglaterra.jpg"></a></td>

					</tr>

					<tr>

					  <td><a ui-sref="destinosDetail({id: pais7})"><img class="img-responsive" src="frontend/img/destinos/malta.jpg"></a></td>

					  <td><a ui-sref="destinosDetail({id: pais8})"><img class="img-responsive" src="frontend/img/destinos/italy.jpg"></a></td>

					</tr>

					<tr>

					  <td colspan="2"><a ui-sref="destinosDetail({id: pais9})"><img class="img-responsive" src="frontend/img/destinos/sudafrica.jpg"></a></td>

					  <td><a ui-sref="destinosDetail({id: pais10})"><img class="img-responsive" src="frontend/img/destinos/irlanda.jpg"></a></td>

					  <td><a ui-sref="destinosDetail({id: pais11})"><img class="img-responsive" src="frontend/img/destinos/india.jpg"></a></td>

					</tr>	

				</tbody>
			</table>
		</div>
	</div>
</div>


<br>