<div class="row">
	<h1 class="text-center text-info">¿DÓNDE QUIERES ESTUDIAR?</h1>
	<div class="col-md-offset-2 col-md-8 text-justify">
		<p>Surfear en las playas australianas, dar un paseo en bicicleta por los alrededores de la Torre Eiffel, comer un helado mientras caminas por las calles de Vancouver o simplemente disfrutar del sol californiano junto a tus amigos son algunas de las cosas que puedes vivir por ti mismo estudiando en el exterior. No pierdas la oportunidad de vivir la aventura de tu vida y conocer personas de todas partes del mundo, ¿y tú? ¿En dónde quieres vivir y estudiar?</p>
	</div>
</div>
<div class="row">
	<h1 class="text-center text-info">ELIGE TU DESTINO</h1>
	<div class="col-md-offset-2 col-md-8">
		<div class="table">
			<table class="cellspacing-5">
				<colgroup>
			        <col class="col-md-2">
			        <col class="col-md-2">
			        <col class="col-md-2">
			        <col class="col-md-2">
	        	</colgroup>
				<tbody>
					<tr>

					  <td colspan="2" rowspan="2">
					  	<a ui-sref="destinosDetail({id: pais1})">
					  		<div data-content="USA" class="image-green" style="text-indent: 75%">
					  	    	<img class="img-responsive" src="frontend/img/destinos/usa.jpg" alt="" />
					  		</div>
					  	</a>
					  </td>

					  <td colspan="2">
					  	<a ui-sref="destinosDetail({id: pais2})">
					  		<div data-content="CANADA" class="image-green" style="text-indent: 60%">
					  			<img class="img-responsive" src="frontend/img/destinos/canada.jpg">
					  		</div>
					  	</a>
					  </td>

					</tr>

					<tr>

					  <td>
					  	<a ui-sref="destinosDetail({id: pais3})">
					  		<div data-content="FRANCIA" class="image-green" style="text-indent: 25%">
					  			<img class="img-responsive" src="frontend/img/destinos/francia.jpg">
					  		</div>
					  	</a>
					  </td>

					  <td>
					  	<a ui-sref="destinosDetail({id: pais4})">
					  		<div data-content="ALEMANIA" class="image-green" style="text-indent: 15%">
					  			<img class="img-responsive" src="frontend/img/destinos/alemania.jpg">
					  		</div>
					  	</a>
					  </td>

					</tr>

					<tr>

					  <td colspan="2">
					  	<a ui-sref="destinosDetail({id: pais5})">
					  		<div data-content="AUSTRALIA" class="image-green" style="text-indent: 50%">
					  			<img class="img-responsive" src="frontend/img/destinos/australia.jpg">
					  		</div>
					  	</a>
					  </td>

					  <td colspan="2" rowspan="2">
					  	<a ui-sref="destinosDetail({id: pais6})">
					  		<div data-content="INGLATERRA" class="image-green" style="text-indent: 45%">
					  			<img class="img-responsive" src="frontend/img/destinos/inglaterra.jpg">
					  		</div>
					  	</a>
					  </td>

					</tr>

					<tr>

					  <td>
					  	<a ui-sref="destinosDetail({id: pais7})">
					  		<div data-content="MALTA" class="image-green" style="text-indent: 45%">
					  			<img class="img-responsive" src="frontend/img/destinos/malta.jpg">
					  		</div>
					  	</a>
					  </td>

					  <td>
					  	<a ui-sref="destinosDetail({id: pais8})">
					  		<div data-content="ITALIA" class="image-green" style="text-indent: 45%">
					  			<img class="img-responsive" src="frontend/img/destinos/italy.jpg">
					  		</div>
					  	</a>
					  </td>

					</tr>

					<tr>

					  <td colspan="2">
					  	<a ui-sref="destinosDetail({id: pais9})">
					  		<div data-content="SUDAFRICA" class="image-green" style="text-indent: 50%">
					  			<img class="img-responsive" src="frontend/img/destinos/sudafrica.jpg">
					  		</div>
					  	</a>
					  </td>

					  <td>
					  	<a ui-sref="destinosDetail({id: pais10})">
					  		<div data-content="IRLANDA" class="image-green" style="text-indent: 25%">
					  			<img class="img-responsive" src="frontend/img/destinos/irlanda.jpg">
					  		</div>
					  	</a>
					  </td>

					  <td>
					  	<a ui-sref="destinosDetail({id: pais11})">
					  		<div data-content="INDIA" class="image-green" style="text-indent: 50%">
					  			<img class="img-responsive" src="frontend/img/destinos/india.jpg">
					  		</div>
					  	</a>
					  </td>

					</tr>	

				</tbody>
			</table>
		</div>
	</div>
</div>


<br>