<div class="row">
	<div id="carousel-id" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-id" data-slide-to="0" class=""></li>
			<li data-target="#carousel-id" data-slide-to="1" class=""></li>
			<li data-target="#carousel-id" data-slide-to="2" class="active"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item">
				<img src="http://placehold.it/1366x450">

				<div class="container">
					<div class="carousel-caption">
						<h1>Headline 1.</h1>
						<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="http://placehold.it/1366x450">

				<div class="container">
					<div class="carousel-caption">
						<h1>Headline 2.</h1>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
			</div>
			<div class="item active">
				<img src="http://placehold.it/1366x450">

				<div class="container">
					<div class="carousel-caption">
						<h1>Headline 3.</h1>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>
<div class="row">
	<h1 class="text-center text-info">¿QUÉ ESTÁS BUSCANDO?</h1>
	
	<div class="">
			
		<div class="col-md-3">
			<div class="highlight-grey">
				<p><img class="img-responsive center-block" src="frontend/img/1.jpg"></p>
				<p class="text-primary text-justify">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. 
				</p>
			</div>
		</div>

		<div class="col-md-3">
			<div class="highlight-grey">
				<p><img class="img-responsive center-block" src="frontend/img/1.jpg"></p>
				<p class="text-primary text-justify">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. 
				</p>
			</div>
		</div>

		<div class="col-md-3">
			<div class="">
				<div class="col">
					<div class="highlight-green text-center">
						<br><br><br>
						<h3>TRANSFERENCIA UNIVERSITARIA</h3>
					</div>
					<img class="filter img-responsive center-block" src="frontend/img/1.jpg">
				</div>
				<h3 class="text-primary text-center">TRANSFERENCIA UNIVERSITARIA</h3>
				<p class="text-primary text-justify">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. 
				</p>
				<h4 class="text-right"><a href="">VER MÁS</a></h4>
			</div>
		</div>

		<div class="col-md-3">
			<div class="">
				<div class="col">
					<div class="highlight-green text-center">
						<br><br><br>
						<h3>PREPARACIÓN DE EXÁMENES</h3>
					</div>
					<img class="filter img-responsive center-block" src="frontend/img/1.jpg">
				</div>
				<h3 class="text-primary text-center">PREPARACIÓN DE EXÁMENES</h3>
				<p class="text-primary text-justify">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. 
				</p>
				<h4 class="text-right"><a href="">VER MÁS</a></h4>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<br>
</div>
<div class="row bg-primary">
	<h1 class="text-center">¿CUÁL ES TU DESTINO IDEAL?</h1>
	<div class="row-no-padding"">
		<div class="col-md-offset-1 col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
		<div class="col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
		<div class="col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
		<div class="col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
		<div class="col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
	</div>
	<div class="row-no-padding"">
		<div class="col-md-offset-1 col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
		<div class="col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
		<div class="col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
		<div class="col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
		<div class="col-md-2 col">
			<div class="highlight-green text-center">
				<h3 class="text-bottom">VER TODOS</h3>
			</div>
			<img class="filter img-responsive center-block" src="http://placehold.it/150x150">
		</div>
	</div>
</div>
<div class="row bg-grey">
	<h1 class="text-center text-primary">SOMOS LO QUE VENDEMOS</h1>
</div>
<div class="row">
	<h1 class="text-center text-info">¿QUÉ OPINAN DE NOSOTROS?</h1>
	<div class="col-md-4">
		<img class="img-responsive center-block" src="http://placehold.it/250x250">
		<h4 class="text-center text-primary">TESTIMONIOS DE NUESTROS ESTUDIANTES</h4>
	</div>
	<div class="col-md-4">
		testimonios
	</div>
	<div class="col-md-4">
		testimonios
	</div>
</div>
<div class="row bg-primary">
	<h1 class="text-center">¿QUIENES SON NUESTROS ALIADOS?</h1>
</div>