<div class="row">
	<h1 class="text-center text-info">PROMOCIONES VIGENTES</h1>
	<br>
	<div class="container-fluid">
		<div class="col-md-offset-2 col-md-8">
			<p class="text-justify">En Prolearning siempre nos preocupamos por ofrecerte lo mejor y por ello buscamos la forma de adaptar el precio de nuestros programas a tu bolsillo. Por ese motivo, tenemos el agrado de contar con gran apoyo por parte de nuestras academias aliadas en el exterior en cuanto a constantes promociones y descuentos que puedes disfrutar a lo largo del año, ¡cada promoción es mejor que la anterior!</p>
		</div>
	</div>
	
	<h1 class="text-center text-info">ELIGE TU PROMO</h1>

	<div class="col-md-offset-2 col-md-8">
		<div class="table">
			<table class="cellspacing-5">
			<colgroup>
				<col class="col-md-2">
				<col class="col-md-2">
			</colgroup>
			<tbody>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>

<br>