<div class="row">
	<h1 class="text-center text-info">PROGRAMAS DE ESTUDIO</h1>
	<br>
	<div class="row">
		<div class="col-md-3 col-md-offset-3">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="col-md-3">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-offset-3 col-md-6 text-center text-primary">
			<button type="submit" class=" btn-lg btn-success">PREGUNTA A NUESTROS EXPERTOS</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-offset-1 col-md-5">
			<img class="img-responsive center-block" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-md-5">
			<img class="img-responsive center-block" src="http://placehold.it/500x300" alt="">
		</div>
	</div>
	<br>
</div>