<div class="row">
	<h1 class="text-center text-info">PROMOCIONES VIGENTES</h1>
	<br>
	<div class="container-fluid">
		<div class="col-md-offset-2 col-md-4">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="col-md-4">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>	
	</div>
	

	<div class="col-md-offset-2 col-md-8">
		<div class="table">
			<table class="cellspacing-5">
			<colgroup>
				<col class="col-md-2">
				<col class="col-md-2">
			</colgroup>
			<tbody>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
				<tr>
				  <td><img src="http://placehold.it/400x200" alt="" class="img-responsive"></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>